@import "tailwindcss";


:root {
  --background: #000000;
  --foreground: #000000;
}

:focus {
  outline: none;
  box-shadow: 0 0 10px 2px #ffffff !important;
}


nav a:focus {
  box-shadow: none !important;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}
