@import "tailwindcss";


:root {
  --background: #000000;
  --foreground: #000000;
}

/* Global styles */
:focus-visible {
  /* Apply the visible shadow only when focus originates from keyboard */
  outline: none;
  box-shadow: 0 0 10px 2px #ffffff !important;
}

/* Basic :focus rule for non-visible changes or resets */
:focus {
   outline: none;
}

/* Remove focus styles completely for specific elements */
.no-focus:focus,
.no-focus:focus-visible {
  outline: none;
  box-shadow: none !important;
}


html {
  scroll-behavior: smooth;
}
